{# description: display article's content , next article, previous article, comments, etc. #}
{# create_by: CloudSen #}
{# update_time: 10/29/18 #}


{% extends 'cloudsen_blog/common-templates/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="container">
        {# navigation bar #}
        <div class="row mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card bg-dark " style="height: 56px;">
                    <div class="card-body">
                        <p class="card-title">
                            <a class="text-gray" href="javascript:history.back(-1)"><i
                                    class="material-icons icon-size-small">&#xE408;</i>返回</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {# current article's content #}
        <div class="row mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <article class="card text-left bg-light" role="article">
                    <div class="card-header bg-dark text-gray text-center">
                        {{ article.title }}
                    </div>
                    {% if article.preview_pic_url %}
                        <img class="card-img-top" src="{{ article.preview_pic_url }}" alt="preview pic">
                    {% endif %}
                    <div id="article-detail" class="card-body markdown-body">
                        <div class="card-text">{{ article.formatted_content|safe }}</div>
                    </div>
                    <div class="text-gray" style="text-align: center">
                        ↓↓↓**====挖矿打赏ԅ(¯﹃¯ԅ)====**↓↓↓
                        {% include 'cloudsen_blog/common-templates/coinhive-captcha.html' %}
                    </div>
                    <div class="card-footer text-muted bg-dark text-light">
                        <small class="material-icons icon-size-small">&#xE853;</small>
                        {{ article.author }}
                        <small class="material-icons icon-size-small">&#xE855;</small>
                        {{ article.create_time|date:'Y-m-d' }}
                    </div>
                </article>
            </div>
        </div>
        {# previous and next article card #}
        <div class="row">
            {# previous article #}
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card bg-dark text-gray">
                    <div class="card-body text-left">
                        <i class="material-icons icon-normal">&#xE314;</i>
                        {% if previous_article %}
                            <a class="a-gray"
                               href="{% url 'go_article_detail' previous_article.pk %}">{{ previous_article.title }}</a>
                        {% else %}
                            no more...
                        {% endif %}
                    </div>
                </div>
            </div>
            {# next article #}
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card bg-dark text-gray">
                    <div class="card-body text-right">
                        {% if next_article %}
                            <a class="a-gray"
                               href="{% url 'go_article_detail' next_article.pk %}">{{ next_article.title }}</a>
                        {% else %}
                            no more...
                        {% endif %}
                        <i class="material-icons icon-normal">&#xE315;</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extension-of-header %}
    <link rel="stylesheet" href="{% static 'cloudsen_blog/css/article-detail.css' %}">
{% endblock %}

{% block extension_of_script %}
    <script src="{% static 'cloudsen_blog/js/article-detail.js' %}"></script>
    <script src="{% static 'redqueen/js/authedmine-v8/captcha.js' %}"></script>
{% endblock %}