{# description: display article's content , next article, previous article, comments, etc. #}
{# create_by: CloudSen #}
{# update_time: 10/29/18 #}


{% extends 'cloudsen_blog/common-templates/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="container min-width-350">
        {# navigation bar #}
        <div class="row mb-3 mt-3">
            <div class="col-md-12 col-lg-12 d-none d-sm-none d-md-block d-lg-block">
                <div class="card bg-dark text-gray">
                    <nav aria-label="breadcrumb" style="height: 56px;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'go_cloudsen_home' %}">
                                <small>主页</small>
                            </a></li>
                            <li class="breadcrumb-item"><a href="{% url 'go_blog_page' %}">
                                <small>博客</small>
                            </a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <small>{{ article.title }}</small>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-sm-12 d-block d-sm-block d-md-none d-lg-none">
                <div class="card bg-dark text-gray">
                    <nav aria-label="breadcrumb" style="height: 56px;">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'go_cloudsen_home' %}">
                                <small>主页</small>
                            </a></li>
                            <li class="breadcrumb-item"><a href="{% url 'go_blog_page' %}">
                                <small>博客</small>
                            </a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <small>{{ article.title|truncatechars_html:11 }}</small>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        {# current article's content #}
        <div class="row mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <article class="card text-left bg-light" role="article">
                    <div class="card-header bg-dark text-gray text-center">
                        {{ article.title }}
                    </div>
                    {% if article.preview_pic_url %}
                        <img class="lazy card-img-top" alt="Preview image"
                             data-src="{{ article.preview_pic_url }}"
                             src="{% static 'cloudsen_blog/imgs/umbrella-loading.gif' %}">
                    {% endif %}
                    <div id="article-detail" class="card-body markdown-body">
                        <div class="card-text">{{ article.formatted_content|safe }}</div>
                    </div>
                    <div class="text-gray" style="text-align: center">
                        ↓↓↓**====挖矿打赏ԅ(¯﹃¯ԅ)====**↓↓↓
                        {% include 'cloudsen_blog/common-templates/coinhive-captcha.html' %}
                    </div>
                    <div class="card-footer text-muted bg-dark text-light">
                        <small class="material-icons icon-size-small">&#xE853;</small>
                        {{ article.author }}
                        <small class="material-icons icon-size-small">&#xE855;</small>
                        {{ article.create_time|date:'Y-m-d' }}
                        <small class="material-icons icon-size-small">&#xE24C;</small>
                        <a href="#disqus_thread"></a>
                    </div>
                </article>
            </div>
        </div>
        {# previous and next article card #}
        <div class="row mb-3">
            {# previous article #}
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card bg-dark text-gray">
                    <div class="card-body text-left">
                        <i class="material-icons icon-normal">&#xE314;</i>
                        {% if previous_article %}
                            <a class="a-gray"
                               href="{% url 'go_article_detail' previous_article.pk %}">{{ previous_article.title }}</a>
                        {% else %}
                            no more...
                        {% endif %}
                    </div>
                </div>
            </div>
            {# next article #}
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card bg-dark text-gray">
                    <div class="card-body text-right">
                        {% if next_article %}
                            <a class="a-gray"
                               href="{% url 'go_article_detail' next_article.pk %}">{{ next_article.title }}</a>
                        {% else %}
                            no more...
                        {% endif %}
                        <i class="material-icons icon-normal">&#xE315;</i>
                    </div>
                </div>
            </div>
        </div>
        {# comments #}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card bg-dark text-gray">
                    <div class="text-center text-gray">
                    「加载Disqus评论 需使用国际互联网」
                    </div>
                    <div class="card-body">
                        <div id="disqus_thread"></div>
                        <noscript>
                            Please enable JavaScript to view the
                            <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                        </noscript>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extension-of-header %}
    <link rel="stylesheet" href="{% static 'cloudsen_blog/css/article-detail.css' %}">
    <link rel="stylesheet" href="{% static 'redqueen/css/pygments/monokai.css' %}">
{% endblock %}

{% block extension_of_script %}
    <script src="{% static 'redqueen/js/lazyload-8.17.0/lazyload.min.js' %}"></script>
    <script src="{% static 'cloudsen_blog/js/article-detail.js' %}"></script>
    <script src="{% static 'redqueen/js/authedmine-v8/captcha.js' %}"></script>
    <script id="dsq-count-scr" src="//cloudsen-blog.disqus.com/count.js" async></script>
    <script>
        let disqus_config = function () {
            this.page.url = '{{request.build_absolute_uri}}'
            this.page.identifier = '{{ article.pk }}' // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function () { // DON'T EDIT BELOW THIS LINE
            let d = document, s = d.createElement('script')
            s.src = 'https://cloudsen-blog.disqus.com/embed.js'
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s)
        })()
    </script>
{% endblock %}