body {
    background: url("../imgs/wallpaper-blog.png") repeat #000;
    background-size: cover;
}

.a-gray {
    color: #aaaaaa;
    text-decoration: none;
}

.coinhive-captcha {
    overflow: auto;
}
/* 禁用默认菜单 */
/** {*/
/*-webkit-touch-callout: none; !*系统默认菜单被禁用*!*/
/*-webkit-user-select: none; !*webkit浏览器*!*/
/*-khtml-user-select: none; !*早期浏览器*!*/
/*-moz-user-select: none; !*火狐*!*/
/*-ms-user-select: none; !*IE10*!*/
/*user-select: none;*/
/*}*/
