html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.card-img {
    width: auto;
    height: 180px;
}

/* icons */
.icon-normal {
    vertical-align: middle;
}

.icon-size-small {
    vertical-align: middle;
    font-size: 100%;
    font-weight: 400;
}

/* use this class where need to pased by markdown    start */
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

/* use this class where need to pased by markdown    end */
