body {
    background: url("../imgs/wallpaper-dark.jpg") repeat;
    background-size: cover;
    background-color: #000;
}

#hello-world {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 80px;
    margin-left: -150px;
    margin-top: -40px;
}