{% extends 'cloudsen_blog/base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="card text-left">
        <div class="card-header">
            {{ article.title }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ article.content|markdown }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ article.update_time|date:'Y-m-d H:i:s' }}
        </div>
    </div>
{% endblock %}

{% block extension_of_script %}
    {#    <script src="{% static 'cloudsen_blog/js/YourJS' %}"></script>#}
{% endblock %}