{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/redqueen/css/bootstrap4.0.0/bootstrap.min.css' %}">
    {% block extension-of-header %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include  'cloudsen_blog/header.html' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
{% include  'cloudsen_blog/footer.html' %}
<script src="{% static '/redqueen/js/jquery3.2.1/jquery.slim.min.js' %}"></script>
<script src="{% static '/redqueen/js/bootstrap4.0.0/bootstrap.min.js' %}"></script>
{% block extension_of_script %}{% endblock %}
</body>
</html>