{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/redqueen/css/bootstrap4.0.0/bootstrap.min.css' %}">
    <title>Cloudsen</title>
</head>
<body>

<h1 id="test">Welcome to my blog</h1>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static '/redqueen/js/bootstrap4.0.0/bootstrap.min.js' %}"></script>
<script src="{% static '/redqueen/js/jquery3.2.1/jquery.slim.min.js' %}"></script>
<script src="{% static '/cloudsen_blog/js/cloudsen-home.js' %}"></script>
</body>
</html>