{# description: about me #}
{# create_by: CloudSen #}
{# update_time: 11/8/18 #}

{% extends 'cloudsen_blog/common-templates/base.html' %}
{% load staticfiles %}

{% block title %}
    CloudSen
{% endblock %}

{% block body %}
    <div class="container min-width-350">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                <div class="card bg-dark" style="max-height: 800px;">
                    <img class="lazy card-img-top" alt="image datf punk"
                             data-src="https://s1.ax1x.com/2018/11/24/FFQN1x.gif"
                             src="{% static 'cloudsen_blog/imgs/umbrella-loading.gif' %}"
                             onerror="this.src={% static 'cloudsen_blog/imgs/umbrella-loading.gif' %}">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-3">
                <div class="markdown-body p-5" style="color: #aaa">
                    {{ about_me.formatted_markdown|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extension-of-header %}
    <link rel="stylesheet" href="{% static 'cloudsen_blog/css/about-me.css' %}">
    <link rel="stylesheet" href="{% static 'redqueen/css/pygments/monokai.css' %}">
{% endblock %}

{% block extension_of_script %}
    <script src="{% static 'cloudsen_blog/js/about-me.js' %}"></script>
    <script src="{% static 'redqueen/js/lazyload-8.17.0/lazyload.min.js' %}"></script>
{% endblock %}