{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#424242">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# baidu analysis #}
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script")
            hm.src = "https://hm.baidu.com/hm.js?63b872603218f2268b00a24aa8dce3ac"
            var s = document.getElementsByTagName("script")[0]
            s.parentNode.insertBefore(hm, s)
        })()
    </script>

    <link rel="shortcut icon" type="image/png" href="{% static '/redqueen/imgs/favicon.ico' %}"/>
    <link rel="stylesheet"
          href="{% static '/redqueen/css/bootstrap-material-design/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet"
          href="{% static '/redqueen/css/bootstrap-material-design/bootstrap-material-fonts-icons.css' %}">
    <link rel="stylesheet" href="{% static '/cloudsen_blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/redqueen/css/markdown/github-markdown.css' %}">
    {% block extension-of-header %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="particles-js"></div>
{# Header #}
{% include  'cloudsen_blog/common-templates/header.html' %}

{# Main Content #}
<main class="container-fluid" role="main">
    <div class="row" style="height: 56px;">
        <div class="col-sm-12 col-md-12 col-lg-12"></div>
    </div>
    <div class="row" style="height: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="row" style="height: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
        </div>
    </div>
</main>

{# footer #}
{% include  'cloudsen_blog/common-templates/footer.html' %}

{# go top #}
<a id="gotop" href="javascript:void(0)">
    top
</a>

{# JavaScript U need #}
<script src="{% static 'redqueen/js/jquery3.3.1/jquery-3.3.1.js' %}"></script>
<script src="{% static 'redqueen/js/popper.js' %}"></script>
<script src="{% static 'redqueen/js/bootstrap-material-design/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'redqueen/js/particles/particles.min.js' %}"></script>
<script src="{% static 'cloudsen_blog/js/base.js' %}"></script>
{% block extension_of_script %}{% endblock %}
<script>
    function myCaptchaCallback(token) {
        console.debug('Captcha Hashes reached. Token is: ' + token)
        let $captchaMassage = $('#captcha-message')
        $.ajax({
            async: true,
            method: 'POST',
            url: '{% url "captcha_mine_taken_verification" %}',
            dataType: 'json',
            data: {'coinhive_captcha_token': token},
            success: result => {
                if (result.success) {
                    console.debug(result.data)
                    $captchaMassage.text('谢谢~本次贡献了1024哈希~')
                } else {
                    $captchaMassage.text('出错: ' + result.reason)
                }
            },
            error: () => {
                $captchaMassage.text('我的天...出BUG了...或者你沒用国际互联网？~')
            }
        })
    }
</script>
</body>
</html>
