{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="{% static '/redqueen/css/bootstrap-material-design/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet"
          href="{% static '/redqueen/css/bootstrap-material-design/bootstrap-material-fonts-icons.css' %}">
    <link rel="stylesheet" href="{% static '/cloudsen_blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/redqueen/css/markdown/github-markdown.css' %}">
    {% block extension-of-header %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{# Drawer Header #}
{% include  'cloudsen_blog/common-templates/header.html' %}

{# Main Content #}
<main class="container-fluid" role="main">
    <div class="row" style="height: 56px;">
        <div class="col-sm-12 col-md-12 col-lg-12"></div>
    </div>
    <div class="row" style="height: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="row" style="height: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
        </div>
    </div>
</main>

{# U know just footer #}
{% include  'cloudsen_blog/common-templates/footer.html' %}

{# JavaScript U need #}
<script src="{% static '/redqueen/js/jquery3.2.1/jquery.slim.min.js' %}"></script>
<script src="{% static '/redqueen/js/popper.js' %}"></script>
<script src="{% static '/redqueen/js/bootstrap-material-design/bootstrap-material-design.min.js' %}"></script>
<script src="{% static 'cloudsen_blog/js/base.js' %}"></script>
{% block extension_of_script %}{% endblock %}
</body>
</html>
