{% extends 'cloudsen_blog/common-templates/base.html' %}
{% load staticfiles %}

{% block title %}
    The New You
{% endblock %}

{% block body %}
    <div id="hello-world" class="text-light text-center">
        <h1 class="font-weight-bold font-italic">Less Is More.</h1>
        <p>DON'T PANIC</p>
    </div>
{% endblock %}

{% block extension-of-header %}
    <link rel="stylesheet" href="{% static 'cloudsen_blog/css/cloudsen-index.css' %}"/>
{% endblock %}

{% block extension_of_script %}
    <script src="{% static 'cloudsen_blog/js/cloudsen-index.js' %}"></script>
{% endblock %}